# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml
.vite/
build/
dist/

# UV / Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints
notebooks/artifacts/
notebooks/wandb/

# Models and data
models/
*.pkl
*.pth
*.pt

# Environment
.env
.env.local
*.local

# IDE
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Weights & Biases
wandb/

data/raw/daily_weather_data.csv